* {
  font-family: 'Jost', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 200;
  font-size: 16px;
}
.logo {
  display: block;
  max-width: 85%;
  margin-left: 7.5%;
  /*margin: 0 auto;*/
}
.row-full-height {
  height: 100%;
}
h1 {
  font-weight: 500;
  color: #ffffff;
  margin: 2rem 0 0 0;
  font-size: 2.1rem;
  text-align: center;
}
h2 {
  color: #000000;
  font-size: 3.2rem;
  font-weight: 600;
  padding-bottom: 2.5rem;
  text-align: center;
}
.hero {
  background-color: #000000;
  position: relative;
}

.hero .trick {
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.light-leak-up, .light-leak-down {
  position: absolute;
  opacity: .75;
}
.light-leak-up {
  top: 0;
  left: 0;
  /* width: 80%; */
}
.light-leak-down {
  bottom: 0;
  right: 0;
  /* width: 50%; */
}
.vision {
  background-color: #f9f5fb;
  /* background-image: linear-gradient(120deg, #dbdbdb 0%, #dbdbdb 100%); */
  position: relative;
}

.vision strong {
  color: #df3182;
  font-weight: 500;
}

p, strong {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}

.wrapper {
  padding: 6rem 2rem;
  max-width: 48rem;
  margin: 0 auto;
}

.emphasis, .emphasis strong {
  font-size: 2rem;
  font-style: italic;
}

.spacer {
  margin: 0 auto;
  display: inline-block;
  width: 99.9999%;
  padding: 2rem 0 4rem 0;
}

@media ( max-width: 600px ) {
  .viewport-left {
    display: none;
  }

  .logo {
    max-width: 100%;
    margin-left: 0;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    /* font-size: 2.3rem; */
  }

  p, strong {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.3rem;
    margin-bottom: 1.3rem;
  }

  .emphasis, .emphasis strong {
    /* font-size: 1.5rem; */
  }

  .vision .wrapper {
    width: 100%;
  }

  .light-leak-up, .light-leak-down {
    width: 100%;
  }
}
