* {
  font-family: 'Jost', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.viewport-right {
  background: #ffffff;
  /*padding-top: 20rem;*/
}
.viewport-right .logo {
  max-width: 80%;
}
.viewport-left {
  background: #000000;
  /*padding-top: 12rem;*/
}
.viewport-left .logo {
  max-width: 40%;
}
.viewport-right, .viewport-left {
  height: 100%;
  /*text-align: center;*/
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.logo {
  display: block;
  max-width: 85%;
  margin-left: 7.5%;
  /*margin: 0 auto;*/
}
.row {
  height: 100%;
}
h1 {
  font-weight: 400;
  color: #ffffff;
  margin: 2rem 0 0 0;
  font-size: 1.5rem;
  text-align: center;
}
h2 {
  color: #000000;
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
}
.hero {
  background-color: #000000;
  position: relative;
}

.hero .trick {
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.light-leak-up, .light-leak-down {
  position: absolute;
  opacity: .75;
}
.light-leak-up {
  top: 0;
  left: 0;
  /* width: 80%; */
}
.light-leak-down {
  bottom: 0;
  right: 0;
  /* width: 50%; */
}
.vision {
  background-color: #ffffff;
  background-image: linear-gradient(120deg, #dbdbdb 0%, #dbdbdb 100%);
  position: relative;
}

.vision .trick {
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  padding: 2rem;
  width: 50rem;
}

.vision strong {
  color: #df3182;
}

p, strong {
  font-size: 1.7rem;
  line-height: 2.3rem;
  margin-bottom: 1.3rem;
}
.wrapper {
  padding: 6rem 2rem;
  max-width: 40rem;
  margin: 0 auto;
}

@media ( max-width: 600px ) {
  .viewport-left {
    display: none;
  }

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 2.3rem;
  }

  p, strong {
    font-size: 1.3rem;
  }

  .vision .wrapper {
    width: 100%;
  }

  .light-leak-up, .light-leak-down {
    width: 100%;
  }
}
